<%- include("partials/header") %>

<h1>Deleted successfully! </h1>
<a class="ui pink big basic button" href="/search">Search</a>
<a class="ui yellow big basic button" href="/">Add new record</a>

<%- include("partials/footer") %>