<%- include("partials/header") %>
<div class="ui main text container segment">
    <form class = "ui form" action="/show" method="GET">
        <div class="field" >
            <label>Search</label>
            <input type="text" name ="SearchWord">
            <button >Go</button>
        </div>
    </form>
</div>
<%- include("partials/footer") %>
