<%- include("partials/header") %>
<div class="ui main text container segment">
    <form class = "ui form" action="/result" method="GET">
        <div class="field">
            <label>Search</label>
            <input type="text" name ="SearchWord" placeholder="Enter the student name">
        </div>
        <button class="ui green big basic button">Go</button>
    </form>
</div>

<%- include("partials/footer") %>